In [2]:
import pandas as pd

In [6]:
df=pd.read_excel(r"C:\Users\Dr Kulbir Singh\retail-business-analytics\data\Online Retail.xlsx")

In [7]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [9]:
# Remove cancelled orders
df[df['InvoiceNo'].astype(str).str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [10]:
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

In [11]:
# Remove negative or zero quantities
df[df['Quantity'] <= 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2406,536589,21777,NaN,-10,2010-12-01 16:50:00,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,2010-12-02 14:42:00,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,2010-12-03 15:30:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535333,581210,23395,check,-26,2011-12-07 18:36:00,0.0,NaN,United Kingdom
535335,581212,22578,lost,-1050,2011-12-07 18:38:00,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,2011-12-07 18:38:00,0.0,NaN,United Kingdom
536908,581226,23090,missing,-338,2011-12-08 09:56:00,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,NaN,United Kingdom

In [12]:
df = df[df['Quantity'] > 0]

In [13]:
# Remove zero or negative prices
df[df['UnitPrice'] <= 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535334,581211,22142,check,14,2011-12-07 18:36:00,0.0,NaN,United Kingdom
536981,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,2011-12-08 13:58:00,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,2011-12-08 13:58:00,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,NaN,United Kingdom

In [14]:
df = df[df['UnitPrice'] > 0]

In [15]:
# Handle missing customers
df.isna().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132220
Country             0
dtype: int64

In [16]:
df = df.dropna(subset=['CustomerID'])

In [17]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [18]:
df['CustomerID'] = df['CustomerID'].astype(int)

In [21]:
# Datetime Features
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

df['order_date'] = df['InvoiceDate'].dt.date
df['year'] = df['InvoiceDate'].dt.year
df['month'] = df['InvoiceDate'].dt.month
df['month_year'] = df['InvoiceDate'].dt.to_period('M')

In [22]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,order_date,year,month,month_year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,2010-12-01,2010,12,2010-12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,2010,12,2010-12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2010-12-01,2010,12,2010-12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,2010,12,2010-12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,2010,12,2010-12
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,2011-12-09,2011,12,2011-12
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,2011-12-09,2011,12,2011-12
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,2011-12-09,2011,12,2011-12
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,2011-12-09,2011,12,2011-12
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,2011-12-09,2011,12,2011-12

In [23]:
# Revenue & Order Metrics
df['revenue'] = df['Quantity'] * df['UnitPrice']

In [24]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,order_date,year,month,month_year,revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,2010-12-01,2010,12,2010-12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,2010,12,2010-12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2010-12-01,2010,12,2010-12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,2010,12,2010-12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,2010,12,2010-12,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,2011-12-09,2011,12,2011-12,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,2011-12-09,2011,12,2011-12,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,2011-12-09,2011,12,2011-12,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,2011-12-09,2011,12,2011-12,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,2011-12-09,2011,12,2011-12,14.85

In [25]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID,year,month,revenue
count,397884.000000,397884,397884.000000,397884.000000,397884.000000,397884.000000,397884.000000
mean,12.988238,2011-07-10 23:41:23.511023360,3.116488,15294.423453,2010.934260,7.612475,22.397000
min,1.000000,2010-12-01 08:26:00,0.001000,12346.000000,2010.000000,1.000000,0.001000
25%,2.000000,2011-04-07 11:12:00,1.250000,13969.000000,2011.000000,5.000000,4.680000
50%,6.000000,2011-07-31 14:39:00,1.950000,15159.000000,2011.000000,8.000000,11.800000
75%,12.000000,2011-10-20 14:33:00,3.750000,16795.000000,2011.000000,11.000000,19.800000
max,80995.000000,2011-12-09 12:50:00,8142.750000,18287.000000,2011.000000,12.000000,168469.600000
std,179.331775,NaN,22.097877,1713.141560,0.247828,3.416520,309.071041

In [26]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
order_date     0
year           0
month          0
month_year     0
revenue        0
dtype: int64

In [27]:
df[['Quantity','UnitPrice','revenue']].describe()

            Quantity      UnitPrice        revenue
count  397884.000000  397884.000000  397884.000000
mean       12.988238       3.116488      22.397000
std       179.331775      22.097877     309.071041
min         1.000000       0.001000       0.001000
25%         2.000000       1.250000       4.680000
50%         6.000000       1.950000      11.800000
75%        12.000000       3.750000      19.800000
max     80995.000000    8142.750000  168469.600000

In [28]:
# Create SQL-Ready Tables
customers = df[['CustomerID','Country']].drop_duplicates()

In [29]:
customers

        CustomerID         Country
0            17850  United Kingdom
9            13047  United Kingdom
26           12583          France
46           13748  United Kingdom
65           15100  United Kingdom
...            ...             ...
536969       13436  United Kingdom
537255       15520  United Kingdom
538064       13298  United Kingdom
538812       14569  United Kingdom
541768       12713         Germany

[4346 rows x 2 columns]

In [30]:
products = df[['StockCode','Description','UnitPrice']].drop_duplicates()

In [31]:
products

       StockCode                          Description  UnitPrice
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1          71053                  WHITE METAL LANTERN       3.39
2         84406B       CREAM CUPID HEARTS COAT HANGER       2.75
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4         84029E       RED WOOLLY HOTTIE WHITE HEART.       3.39
...          ...                                  ...        ...
540066     23535              WALL ART BICYCLE SAFETY       3.90
540068     23526                WALL ART DOG LICENCE        3.90
540272     21253       SET OF PICTURE FRAME  STICKERS       0.79
540421     23843          PAPER CRAFT , LITTLE BIRDIE       2.08
541633     20936                 FORKED CACTUS CANDLE       1.25

[8881 rows x 3 columns]

In [32]:
orders = df[['InvoiceNo','CustomerID','order_date','Country']].drop_duplicates()

In [33]:
orders

       InvoiceNo  CustomerID  order_date         Country
0         536365       17850  2010-12-01  United Kingdom
7         536366       17850  2010-12-01  United Kingdom
9         536367       13047  2010-12-01  United Kingdom
21        536368       13047  2010-12-01  United Kingdom
25        536369       13047  2010-12-01  United Kingdom
...          ...         ...         ...             ...
541865    581583       13777  2011-12-09  United Kingdom
541867    581584       13777  2011-12-09  United Kingdom
541869    581585       15804  2011-12-09  United Kingdom
541890    581586       13113  2011-12-09  United Kingdom
541894    581587       12680  2011-12-09          France

[18532 rows x 4 columns]

In [34]:
order_items = df[['InvoiceNo','StockCode','Quantity','UnitPrice','revenue']]

In [35]:
order_items

       InvoiceNo StockCode  Quantity  UnitPrice  revenue
0         536365    85123A         6       2.55    15.30
1         536365     71053         6       3.39    20.34
2         536365    84406B         8       2.75    22.00
3         536365    84029G         6       3.39    20.34
4         536365    84029E         6       3.39    20.34
...          ...       ...       ...        ...      ...
541904    581587     22613        12       0.85    10.20
541905    581587     22899         6       2.10    12.60
541906    581587     23254         4       4.15    16.60
541907    581587     23255         4       4.15    16.60
541908    581587     22138         3       4.95    14.85

[397884 rows x 5 columns]

In [36]:
customers.to_csv(r"C:\Users\Dr Kulbir Singh\retail-business-analytics\data\customers.csv", index=False)
products.to_csv(r"C:\Users\Dr Kulbir Singh\retail-business-analytics\data\products.csv", index=False)
orders.to_csv(r"C:\Users\Dr Kulbir Singh\retail-business-analytics\data\orders.csv", index=False)
order_items.to_csv(r"C:\Users\Dr Kulbir Singh\retail-business-analytics\data\order_items.csv", index=False)